@page "/Tramite/AltaPersonaJuridica/{_nro_tramite}"
@layout MainLayout

<div class="card card-custom gutter-b">
    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark font-size-h2 pt-2">Tramite N° 123 - Alta Persona Juridica</span>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        Archivos
                    </h3>
                </div>
            </div>
            <div class="card-body">
                ...
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        Mensajes
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <TicketChat />
            </div>
        </div>
    </div>
</div>

@code {

}
